section
  h1 プレゼンテーションのコツ

section
  h2 読み原稿
  ul
    li 対比 ➡ 「一方で」
      br
      | 「しかし」は使わない
    li 検査データは改善しているもの、増悪しているもので分ける
      br
      | わけれない場合は上昇しているものと低下しているもの
    li ページの紹介は短く 
      br
      | (例) ☓ 入院時の検査データですが、WBCが上昇しており....
      br
      |  ➡ ◯ 入院時の検査所見です。or 入院時の検査所見をお示しします。
      br
      | (例) 左が鍍銀染色で右がマッソン染色の写真です。
    li 臨床経過ではデータの改善前と改善後の数値も言う
      br
      | (例) ☓ ASTは改善しました ➡ ◯ ASTは2000から60まで改善しました
    li グラフは軸の説明とデータの説明をする。
      br
      | (例) 青で示すASTは600がpeekです。
    li グラフの文字は少なく
    li 考察では一般論➡本症例の特徴➡結語が一般的
      br
      | 一般論のみは不可
      br
      | 本症例の特徴のみでも可

