section 
  h1 エソメプラゾールとロスバスタチン投与中に発症した急性間質性腎炎の1例
  h5 東京逓信病院  腎臓内科　*同病理科
  p
    | 平川雄亮、松村実美子、東原崇明、宇仁理恵、，清水章、高野秀樹
    br
    | *岸田由起子、*田村浩一

section
  .row
    .col-md-2
    .col-md-8
      h3 日本内科学会 関東地方会
        br
        | 発表者のCOI開示
  .row
    p 演題発表に関連し、発表者らに開示すべきCOI関係にある企業などはありません。

section
  :markdown-it
    ## 症例： 76歳女性
    *主訴* 腎機能低下  
    *現病歴*  
    高血圧、脂質異常症で近医通院中。75歳時、脳梗塞を発症し当院神経内科で加療、血清Cr 0.9mg/dl前後で推移していたが、8か月後血清Cr 1.9mg/dlに増悪。採血、画像検査を施行するも原因判然とせず、1日2Lを目標に飲水励行としたが、入院前日の外来でもsCr 1.94 mg/dlと改善をみとめなかったため、精査加療目的に翌日当科入院となった(第1病日)。

section
  :markdown-it
    ## 症例： 76歳女性
    *既往歴*   
    高血圧症, 萎縮性胃炎, 脂質異常症, 脳梗塞(75際)  
    *家族歴*  父：脳動脈瘤破裂  
    *アレルギー*  food：(-), drug：ロキソニン   
    *生活歴* 飲酒:機会飲酒, 喫煙:なし  
    *内服歴*   
    エソメプラゾール20mg1Cp1X, アスピリン100mg1T1X, ロスバスタチン2.5mg1T1X, アムロジピン5mg1T1X
section
  :markdown-it
    ## 入院時現症
    *全身*  
    JCS-0, 身長 150.5 cm, 体重 56.9 kg, BMI 25.2 kg/㎡  
    *Vital*  
    BT 36.8 ℃, PR 73 bpm, BP 148/85 mmHg, SpO2 98 %  
    *頭頸部*   
    眼瞼結膜貧血なし, 眼球結膜黄染なし, 頸部リンパ節腫脹なし  
    **両側眼瞼に軽度浮腫あり**  
    *胸部* 肺野・心音異常なし  
    *腹部* 平坦/軟, 圧痛なし, 腸蠕動音正常  
    *四肢* **両側下腿浮腫軽度あり**, 足背動脈触知良好
section
  h2 入院時検査所見
  .row
    .col-md-4
      table.table.table-condensed(style="margin-top:-10px;")
        tr
          td 
            em 尿検査
          td
          td
        tr
          td PH
          td 6
          td
        tr
          td 比重
          td 1.011
          td
        tr
          td ブドウ糖
          td (-)
          td
        tr
          td 白血球
          td +2
          td
        tr
          td 亜硝酸塩
          td (-)
          td
        tr
          td 蛋白
          td 10
          td mg/dl
        tr
          td Cre
          td 48.2
          td mg/dl
        tr
          td TP/Cre
          td 0.21
          td g/g・Cre
        tr
          td Na
          td 67.1
          td mEq/l
        tr
          td BUN
          td 415
          td mg/dl
        tr
          td β2MG
          td 
            .red 5519
          td ng/ml
        tr
          td NAG
          td.red 20.6
          td
        tr
          td 
            em 血算
          td
          td
        tr
          td WBC
          td 4800
          td /μl
        tr
          td Hb
          td 10.4
          td g /dl
        tr
          td Hct
          td 30.9
          td %
        tr
          td Plt
          td 15.4
          td 万/μl
    .col-md-4
      table.table.table-condensed(style="margin-top:-10px;")
        tr
          td 
            em 免疫
          td
          td
        tr
          td CRP
          td 0.35
          td mg/dl
        tr
          td RA
          td 12
          td IU/l
        tr
          td ASO
          td 7
          td IU/l
        tr
          td IgA
          td 233
          td mg/dl
        tr
          td IgG
          td.red 1787
          td mg/dl
        tr
          td IgM
          td 144
          td mg/dl
        tr
          td C3c
          td 111
          td mg/dl
        tr
          td C4
          td 22
          td mg/dl
        tr
          td 血清補体価
          td.red 52.5
          td mg/dl
        tr
          td ANA
          td (-)
          td
        tr
          td dsDNA-IgG
          td (-)
          td
        tr
          td MPO ANCA
          td (-)
          td
        tr
          td PR-3 ANCA 
          td (-)
          td
        tr
          td GBM Ab
          td (-)
          td
        tr
          td アミロイドA蛋白
          td 4.3
          td
        tr
          td: em 凝固
          td
          td
        tr
          td PT
          td 103.1
          td %
    .col-md-4
      table.table.table-condensed(style="margin-top:-10px;")
        tr
          td: em 生化学
          td
          td
        tr
          td Na
          td 142.1
          td mEq/l
        tr
          td K
          td 3.9
          td mEq/
        tr
          td Cl
          td 106.8
          td mEq/
        tr
          td Ca
          td 8.4
          td mg/dl
        tr
          td P
          td 3.5
          td mg/dl
        tr
          td ALP
          td 222
          td IU/l
        tr
          td AST
          td 23
          td IU/l
        tr
          td ALT
          td 12
          td IU/l
        tr
          td T.Bill
          td 0.4
          td mg/dl
        tr
          td γ-GTP
          td 12
          td IU/l
        tr
          td LDH
          td 255
          td IU/l
        tr
          td Alb
          td 3.5
          td g/dl
        tr
          td BUN
          td.red 28.4
          td mg/dl
        tr
          td Cre
          td.red 2.03
          td mg/dl
        tr
          td UA
          td 4.9
          td mg/dl
        tr
          td CK
          td.red 184
          td IU/L


section
  h2 入院時検査所見
  p
    em 心電図
    br
    | HR 64/min, sinus rhythm, NAD, no ST-T change
  p
    em CXR
    br
    | CTR 58 %, 両側CPA sharp, 両側肺野clear

section
  h2 入院後経過
  ul
    li 各種自己抗体陰性、尿中β2MG, NAG高値
    li CTでは両腎・腎盂尿管に異常なし<br>➡ 腎後性は否定的
    li USで両側腎血流は正常で、MRI上も両側腎動脈の狭窄なし <br>
      | FENa 1.9%, FEUN 45.2%であり、入院前のhydration奏功せず<br>
      | ➡腎前性は否定的 

section
  p 腎後性は否定的で補液に反応が乏しく腎性腎不全と診断、薬剤性を疑い上記内服を休止した。第14病日Gaシンチグラフィーで両腎への集積を認め、第16病日に腎生検を施行、間質への炎症細胞浸潤と間質浮腫を認め急性間質性腎炎と診断した。DLSTではエソメプラゾール陽性、ロスバスタチンはカットオフ値と同程度であり、両者の関与を否定できなかった。第19病日ステロイド投薬を開始、以後第39病日には血清Cr 1.1mg/dlに改善した。


section
  h2 入院前経過
  .row
    .col-md-8
      #container1(style="width:auto; height:600px;")
    .col-md-4
      p test
  
  script.
    $(document).ready(function() { 
        var myChart = Highcharts.chart('container1', {
            chart: {
              zoomType: 'x'
            },
            title: {
              text: '入院後経過'
            },
            xAxis: {
              type: 'linear',
              labels: {
                formatter: function() {
                  return '第'+(this.value+1) + '病日';
                }
              },
              title: {
                text: '入院前日数'
              },
              plotBands: [{
                color: '#ccc', // Color value
                className: 'fg-10', // Style of the plot line. Default to solid
                from: 14.9, // Value of where the line will appear
                to: 15.1,
                label:{
                  text: "<em class='fg-10'>腎生検</em>",
                  useHTML:true
                }},{
                color: '#ccc', // Color value
                className: 'fg-30', // Style of the plot line. Default to solid
                from: 18, // Value of where the line will appear
                to: 21, // Width of the line  
                label:{
                  text: "<em class='fg-30'>m-PSL 500mg</em>",
                  useHTML:true
                }},{
                color: '#ccc', // Color value
                className: 'fg-60', // Style of the plot line. Default to solid
                from: 37,9, // Value of where the line will appear
                to: 38,1, // Width of the line  
                label:{
                  text: "<em class='fg-60'>退院</em>",
                  useHTML:true
                }}
              ]
            },
            yAxis: {
              title: {
                text: ''
              }
            },
            tooltip:{
              headerFormat: '',
              pointFormat: '{series.name}: <b>{point.y}</b><br/>'
            },
            series: [
              {
                name:"1/sCr",
                data: [[-260, 1.17647058823529], [-259, 1.19047619047619], [-258, 1.14942528735632], [-256, 1.11111111111111], [-250, 1.19047619047619], [-246, 1.17647058823529], [-236, 1.13636363636364], [-215, 1.11111111111111], [-196, 1.04166666666667], [-187, 0.970873786407767], [-160, 1.11111111111111], [-132, 1.04166666666667], [-83, 1.12359550561798], [-27, 0.65359477124183], [-5, 0.526315789473684], [-4, 0.5], [0, 0.492610837438424]]
              },{
                name:"NAG",
                data: [[-4, 22.9], [0, 20.6], [10, 4.9], [21, 4.6], [24, 2.9], [27, 5.6], [31, 2.9], [34, 4], [36, 3.3], [38, 5.9], [45, 7.9], [59, 11.7], [62, 7.3], [69, 1.4], [73, 3.1], [76, 2.7], [79, 4]]
              }, {
                name:"β2MG",
                data: [[-4, 5695], [0, 5519], [10, 1807], [15, 1129], [21, 744], [24, 52], [27, 67], [31, 75], [34, 1400], [36, 373], [38, 394], [45, 153], [59, 170], [62, 202], [69, 315], [73, 434], [76, 287], [79, 417]]
              }
            ]
        });
       if (!updating) {
        updating = true;
        myChart.xAxis[0].setExtremes(0, 64);
        myChart.showResetZoom();
      }
    }); 



section
  h2 入院後経過
  .row
    .col-md-8
      #container2(style="width:100%; height:600px;")
    .col-md-4
      p test
  
  script.
    $(document).ready(function() { 
        var myChart = Highcharts.chart('container2', {
            chart: {
              zoomType: 'x'
            },
            title: {
              text: '入院後経過'
            },
            xAxis: {
              type: 'linear',
              labels: {
                formatter: function() {
                  return '第'+(this.value+1) + '病日';
                }
              },
              title: {
                text: '入院日数'
              }
            },
            yAxis: {
              title: {
                text: '1/sCr'
              }
            },
            tooltip:{
              headerFormat: '',
              pointFormat: '{series.name}: <b>{point.y}</b><br/>'
            },
            series: [{
              data: [[-260, 1.17647058823529], [-259, 1.19047619047619], [-258, 1.14942528735632], [-256, 1.11111111111111], [-250, 1.19047619047619], [-246, 1.17647058823529], [-236, 1.13636363636364], [-215, 1.11111111111111], [-196, 1.04166666666667], [-187, 0.970873786407767], [-160, 1.11111111111111], [-132, 1.04166666666667], [-83, 1.12359550561798], [-27, 0.65359477124183], [-5, 0.526315789473684], [-4, 0.5], [0, 0.492610837438424], [2, 0.492610837438424], [4, 0.50761421319797], [6, 0.50251256281407], [8, 0.510204081632653], [10, 0.526315789473684], [13, 0.555555555555556], [15, 0.537634408602151], [16, 0.518134715025907], [18, 0.561797752808989], [21, 0.625], [24, 0.680272108843537], [27, 0.680272108843537], [29, 0.689655172413793], [31, 0.75187969924812], [34, 0.884955752212389], [36, 0.892857142857143], [38, 0.900900900900901], [45, 0.826446280991736], [59, 0.746268656716418], [62, 0.840336134453782], [64, 0.847457627118644]]}
            ]
        });
       if (!updating) {
        updating = true;
        myChart.xAxis[0].setExtremes(0, 64);
        myChart.showResetZoom();
      }
    }); 


section  
  h2 入院後経過
  ul 
    li 第1病日より病歴聴取、感染症、各種画像検査を施行したが、明らかな原因は指摘できず。
    li 第5病日：安静臥床、補液にて様子を経過観察していたが、肝胆道系酵素の上昇のため、SMNC iv
    li 第14病日：以上の画像検査、血液検査から診断が確定できず、肝生検を実施した。
  // .element: class="fragment" data-fragment-index="1"
  p.fragment(data-fragment-index='2')
    em 除外済み
    br
    | A,B,C,E型肝炎、EBV, CMV, HIV
  p.fragment(data-fragment-index='3')
    em Unlikely
    br
    | 薬剤性, アルコール性(γ-GTP➡、ALT>AST), 脂肪肝、うっ血性
section
  h1 さて、診断は何でしょう？
section
  h2 入院後経過
  canvas.fragment(data-chart='line', data-fragment-index='1')
    //
      {
      "data": {
      "datasets": [
      {
      "data":[{"x":1, "y":1410}, {"x":3, "y":1478}, {"x":5, "y":1710}, {"x":6, "y":892}, {"x":8, "y":421}, {"x":11, "y":438}, {"x":14, "y":529}, {"x":15, "y":518}, {"x":17, "y":288}, {"x":19, "y":230}, {"x":21, "y":189}, {"x":24, "y":113}, {"x":28, "y":70}, {"x":31, "y":48}, {"x":35, "y":39}, {"x":38, "y":28}],"label":"AST(IU/l)","backgroundColor":"rgba(20,220,220,.8)","fill":false
      }, {
      "data":[{"x":1, "y":2060}, {"x":3, "y":1900}, {"x":5, "y":2090}, {"x":6, "y":1560}, {"x":8, "y":998}, {"x":11, "y":679}, {"x":14, "y":642}, {"x":15, "y":624}, {"x":17, "y":458}, {"x":19, "y":416}, {"x":21, "y":368}, {"x":24, "y":271}, {"x":28, "y":179}, {"x":31, "y":125}, {"x":35, "y":91}, {"x":38, "y":61}],"label":"ALT(IU/l)","backgroundColor":"rgba(220,120,120,.8)","fill":false
      }, {
      "data":[{"x":1, "y":280}, {"x":3, "y":224}, {"x":5, "y":214}, {"x":6, "y":206}, {"x":8, "y":195}, {"x":11, "y":191}, {"x":14, "y":198}, {"x":15, "y":207}, {"x":17, "y":243}, {"x":19, "y":359}, {"x":21, "y":426}, {"x":24, "y":416}, {"x":28, "y":311}, {"x":31, "y":253}, {"x":35, "y":224}, {"x":38, "y":171}],"label":"γ-GDP(IU/l)","backgroundColor":"rgba(20,120,220,.8)","fill":false
      }, {
      "data":[{"x":1, "y":517}, {"x":3, "y":351}, {"x":5, "y":332}, {"x":6, "y":324}, {"x":8, "y":384}, {"x":11, "y":402}, {"x":14, "y":418}, {"x":15, "y":384}, {"x":17, "y":355}, {"x":19, "y":346}, {"x":21, "y":362}, {"x":24, "y":360}, {"x":28, "y":299}, {"x":31, "y":289}, {"x":35, "y":307}, {"x":38, "y":254}],"backgroundColor":"rgba(120,220,20,.8)","borderColor":"rgba(120,220,20,.8)", "label":"ALP(IU/l)","fill":false
      },{
      "data":[{"x":1, "y":670}, {"x":3, "y":612}, {"x":5, "y":667}, {"x":6, "y":279}, {"x":8, "y":240}, {"x":11, "y":248}, {"x":14, "y":291}, {"x":15, "y":258}, {"x":17, "y":213}, {"x":19, "y":230}, {"x":21, "y":238}, {"x":24, "y":191}, {"x":28, "y":212}, {"x":31, "y":180}, {"x":35, "y":177}, {"x":38, "y":167}],"label":"LDH(IU/l)","backgroundColor":"rgba(220,20,120,.8)","borderColor":"rgba(220,20,120,.8)","fill":false
      }
      ]
      },
      "options": {
      "scales": {
      "xAxes": [{
      "type": "linear",
      "position": "bottom"
      }]
      }
      }
      }
  .balloon.fragment(data-fragment-index='1', style='top:102px;left:92px;')
    | 第5病日
    br
    |   SMNC iv
  .balloon.fragment(data-fragment-index='1', style='top:328px;left:295px;')
    | 第14病日
    br
    |   肝生検
  .balloon.fragment(data-fragment-index='2', style='top:207px;left:331px;')
    | 第15病日
    br
    |   PSL 30mg/日 開始
section
  h2 入院後経過
  canvas.fragment(data-chart='line', data-fragment-index='1')
    //
      {
      "data": {
      "datasets": [
      {
      "data":[{"x":1, "y":6.3}, {"x":3, "y":6.6}, {"x":5, "y":10}, {"x":6, "y":11.9}, {"x":8, "y":15}, {"x":11, "y":21.4}, {"x":14, "y":26.4}, {"x":15, "y":26.1}, {"x":17, "y":17.2}, {"x":19, "y":11.7}, {"x":21, "y":9.2}, {"x":24, "y":7.2}, {"x":28, "y":4.9}, {"x":31, "y":3.9}, {"x":35, "y":3.3}, {"x":38, "y":2.7}],"label":"総Bil(mg/dl)","backgroundColor":"rgba(20,220,120,.8)","fill":false
      }, {
      "data":[{"x":1, "y":5.1}, {"x":3, "y":5.5}, {"x":5, "y":8.2}, {"x":6, "y":9.7}, {"x":8, "y":12.2}, {"x":11, "y":17.1}, {"x":14, "y":20.6}, {"x":15, "y":20.7}, {"x":17, "y":14.3}, {"x":19, "y":9.4}, {"x":21, "y":7.3}, {"x":24, "y":5.6}, {"x":28, "y":4}, {"x":31, "y":3.2}, {"x":35, "y":2.7}, {"x":38, "y":2.1}],"label":"直接Bil(mg/dl)","backgroundColor":"rgba(20,120,220,.8)","fill":false
      }
      ]
      },
      "options": {
      "scales": {
      "xAxes": [{
      "type": "linear",
      "position": "bottom"
      }]
      }
      }
      }
  .balloon.fragment(data-fragment-index='2', style='top:93px;left:285px;')
    | PSL 30mg/日 開始
section
  h1 診断： 自己免疫性肝炎
section
  h2 入院後経過
  ul
    li PSL内服後はAST・ALTも徐々に改善。
    li HLAが帰着し、A*24:33-B*75:51-DRB1*04:05-09:01:02であった。
    li
      | 肝生検ではCentri-Lobular Necrosisであり、PSLに対する反応性も考慮し、
      strong 急性発症型自己免疫性肝炎
      | の診断となった。
    li 以降はAST・ALTの再燃もなく経過し、徐々にPSLをtapering、PSL 20 mg/日で第38病日に退院となった。
section
  h2 自己免疫性肝炎の臨床的特徴
  ul
    li 中年以降の女性に好発する原因不明の肝疾患
    li 発症様式には遺伝的素因、自己免疫機序が関与
    li 臨床的には①抗核抗体等の自己抗体、②血清IgG高値を伴う
    li ほとんどは潜在性に発症するが、急性肝障害の臨床像を呈するものもあり
  p
    | 1.潜行性に発症した後に、AST・ALTが急激に増悪するタイプ(病理は慢性肝炎像)
    br
    | 2.急性肝炎様の臨床像を呈し、病理も画像も急性肝炎様のタイプ
  ul
    li
      | 2の場合は
      strong 抗核抗体陰性であり、血清IgG高値でないこともあり、診断が難しい
    li
      | しかし、1,2も
      strong 副腎皮質ステロイド投与が著効することは共通である。
section
  p 【内服薬】アスピリン 100mg/日、エソメプラゾール 20mg/日、ロスバスタチン2.5mg/日、アムロジピン 5mg/日【検査】血清BUN 28.4mg/dl、Cr 2.0mg/dl、CK 184IU/l、尿潜血陰性、尿蛋白 0.25g/gCr、尿中NAG 20.6U/l、FENa 1.1%、FEUN 37.6%【経過】腎後性は否定的で補液に反応が乏しく腎性腎不全と診断、薬剤性を疑い上記内服を休止した。第14病日Gaシンチグラフィーで両腎への集積を認め、第16病日に腎生検を施行、間質への炎症細胞浸潤と間質浮腫を認め急性間質性腎炎と診断した。DLSTではエソメプラゾール陽性、ロスバスタチンはカットオフ値と同程度であり、両者の関与を否定できなかった。第19病日ステロイド投薬を開始、以後第39病日には血清Cr 1.1mg/dlに改善した。【考察】近年、急性間質性腎炎の原因としてPPIの関与が報告されているが、さらにスタチンの関与が疑われる場合は少ない。いずれも高頻度で使用される薬剤であり注意が必要と考え報告する。


section
  h1 ご清聴有難うございました
  
