section 
  h1 ステロイドにて寛解した薬剤性尿細管間質性腎炎の１例
  h5 東京逓信病院  腎臓内科　*同病理科
  p
    | 平川雄亮、東原崇明、宇仁理恵、松村実美子、高野秀樹
    br
    | *岸田由起子、*田村浩一
  .row
    span.col-md-3
    span.col-md-6 
      br
      h3 発表者のCOI開示
    span.col-md-3
  p 演題発表に関連し、発表者らに開示すべきCOI関係にある企業などはありません。

section
  h2 症例： 76歳女性
  p
    em 主訴
    br
    | 腎機能増悪
    br
    em 現病歴
    br
    | 入院8ヶ月前より脳梗塞にて当院神経内科で入院加療後、外来フォローされていた。
    | 外来ではsCr 0.8-0.9 mg/dl程度で推移したが、入院1ヶ月前にsCr 1.53 mg/dlまで増悪し、顔のむくみを自覚するようになった。
    | 入院5日前にsCr 1.90 mg/dlまで増悪あり、当科コンサルトとなった。
    | 採血、画像検査を施行するも原因判然とせず、1日2Lを目標に飲水励行としたが、
    | 入院前日の外来でもsCr 1.94 mg/dlと改善をみとめなかったため、精査加療目的に翌日当科入院となった(第1病日)。

section
  h2 症例： 76歳女性
  p
    em 既往歴
    br
    | 高血圧症(時期不明)
    br
    | 萎縮性胃炎(時期不明)
    br
    | 脂質異常症(時期不明)
    br
    | 脳梗塞(75際)
    br
    em 家族歴
    br
    |  父：脳動脈瘤破裂
    br
    em アレルギー
    br
    |  food：(-), drug：ロキソニン 
    br
    em 生活歴
    br
    | 飲酒:機会飲酒, 喫煙:なし
    br
    em 内服歴
    br
    |  エソメプラゾール20mg1Cp1X, アスピリン100mg1T1X,
    br
    | ロスバスタチン2.5mg1T1X, アムロジピン5mg1T1X
section
  h2 入院時現症
  p
    em 全身
    |  JCS-0, 身長 150.5 cm, 体重 56.9 kg, BMI 25.2 kg/㎡
    br
    em Vital
    |  BT 36.8 ℃, PR 73 bpm, BP 148/85 mmHg, SpO2 98 %
  p
    em 頭頸部
    |  眼瞼結膜貧血なし, 眼球結膜黄染なし, 頸部リンパ節腫脹なし
    br
    em 胸部
    |  肺野・心音異常なし
    br
    em 腹部
    |  平坦/軟, 圧痛なし, 腸蠕動音正常, 
    br
    em 四肢  
    strong 両側下腿浮腫軽度あり, 
    | 足背動脈触知良好
section
  h2 入院時検査所見
  .row
    .col-md-4
      table.table.table-condensed(style="margin-top:-10px;")
        tr
          td 
            em 尿検査
          td
          td
        tr
          td PH
          td 6
          td
        tr
          td 比重
          td 1.011
          td
        tr
          td ブドウ糖
          td (-)
          td
        tr
          td 白血球
          td +2
          td
        tr
          td 亜硝酸塩
          td (-)
          td
        tr
          td 蛋白
          td 10
          td mg/dl
        tr
          td Cre
          td 48.2
          td mg/dl
        tr
          td TP/Cre
          td 0.21
          td g/g・Cre
        tr
          td Na
          td 67.1
          td mEq/l
        tr
          td BUN
          td 415
          td mg/dl
        tr
          td β2MG
          td 
            .red 5519
          td ng/ml
        tr
          td NAG
          td 20.6
          td
        tr
          td 
            em 血算
          td
          td
        tr
          td WBC
          td 4800
          td /μl
        tr
          td Hb
          td 10.4
          td g /dl
        tr
          td Hct
          td 30.9
          td %
        tr
          td Plt
          td 15.4
          td 万/μl
    .col-md-4
      table.table.table-condensed(style="margin-top:-10px;")
        tr
          td 
            em 免疫
          td
          td
        tr
          td CRP
          td 0.35
          td mg/dl
        tr
          td RA
          td 12
          td IU/l
        tr
          td ASO
          td 7
          td IU/l
        tr
          td IgA
          td 233
          td mg/dl
        tr
          td IgG
          td.red 1787
          td mg/dl
        tr
          td IgM
          td 144
          td mg/dl
        tr
          td C3c
          td 111
          td mg/dl
        tr
          td C4
          td 22
          td mg/dl
        tr
          td 血清補体価
          td.red 52.5
          td mg/dl
        tr
          td ANA
          td (-)
          td
        tr
          td dsDNA-IgG
          td (-)
          td
        tr
          td MPO ANCA
          td (-)
          td
        tr
          td PR-3 ANCA 
          td (-)
          td
        tr
          td GBM Ab
          td (-)
          td
        tr
          td アミロイドA蛋白
          td 4.3
          td
        tr
          td: em 凝固
          td
          td
        tr
          td PT
          td 103.1
          td %
    .col-md-4
      table.table.table-condensed(style="margin-top:-10px;")
        tr
          td: em 生化学
          td
          td
        tr
          td Na
          td 142.1
          td mEq/l
        tr
          td K
          td 3.9
          td mEq/
        tr
          td Cl
          td 106.8
          td mEq/
        tr
          td Ca
          td 8.4
          td mg/dl
        tr
          td P
          td 3.5
          td mg/dl
        tr
          td ALP
          td 222
          td IU/l
        tr
          td AST
          td 23
          td IU/l
        tr
          td ALT
          td 12
          td IU/l
        tr
          td T.Bill
          td 0.4
          td mg/dl
        tr
          td γ-GTP
          td 12
          td IU/l
        tr
          td LDH
          td 255
          td IU/l
        tr
          td Alb
          td 3.5
          td g/dl
        tr
          td BUN
          td 28.4
          td mg/dl
        tr
          td Cre
          td 2.03
          td mg/dl
        tr
          td UA
          td 4.9
          td mg/dl
        tr
          td CK
          td.red 184
          td IU/L


section
  h2 入院時検査所見
  p
    em 心電図
    br
    | HR 64/min, sinus rhythm, NAD, no ST-T change
  p
    em CXR
    br
    | CTR 58 %, 両側CPA sharp, 両側肺野clear

section
  video(width='1280', height='650', controls='controls')
    source(src='../source/CT第1病日.mp4', type='video/mp4')
section
  h2 入院後経過
  ul
    li 第1病日より病歴聴取、感染症、各種画像検査を施行したが、明らかな原因は指摘できず。  
    li
      | 第5病日：安静臥床、補液にて様子を経過観察していたが、
      br
      | 肝胆道系酵素の上昇のため、SMNC iv
      // .element: class="fragment" data-fragment-index="1"
section
  h2 入院前経過
  .row
    .col-md-8
      #container1(style="width:auto; height:600px;")
    .col-md-4
      p test
  
  script.
    $(document).ready(function() { 
        var myChart = Highcharts.chart('container1', {
            chart: {
              zoomType: 'x'
            },
            title: {
              text: '入院前経過'
            },
            xAxis: {
              type: 'linear',
              labels: {
                formatter: function() {
                  return '第'+this.value + '病日';
                }
              },
              title: {
                text: '入院前日数'
              }
            },
            yAxis: {
              title: {
                text: '1/sCr'
              }
            },
            series: [
              {
                name:"",
                marker: {
                  enabled: true,
                  radius: 3
                },
              data: [[-260, 1.17647058823529], [-259, 1.19047619047619], [-258, 1.14942528735632], [-256, 1.11111111111111], [-250, 1.19047619047619], [-246, 1.17647058823529], [-236, 1.13636363636364], [-215, 1.11111111111111], [-196, 1.04166666666667], [-187, 0.970873786407767], [-160, 1.11111111111111], [-132, 1.04166666666667], [-83, 1.12359550561798], [-27, 0.65359477124183], [-5, 0.526315789473684], [-4, 0.5], [0, 0.492610837438424]]}
            ]
        });
    }); 



section
  h2 入院後経過
  .row
    .col-md-8
      #container2(style="width:100%; height:600px;")
    .col-md-4
      p test
  
  script.
    $(document).ready(function() { 
        var myChart = Highcharts.chart('container2', {
            chart: {
              zoomType: 'x'
            },
            title: {
              text: '入院後経過'
            },
            xAxis: {
              type: 'linear',
              labels: {
                formatter: function() {
                  return '第'+this.value + '病日';
                }
              },
              title: {
                text: '入院前日数'
              }
            },
            yAxis: {
              title: {
                text: '1/sCr'
              }
            },
            series: [{
              data: [[-260, 1.17647058823529], [-259, 1.19047619047619], [-258, 1.14942528735632], [-256, 1.11111111111111], [-250, 1.19047619047619], [-246, 1.17647058823529], [-236, 1.13636363636364], [-215, 1.11111111111111], [-196, 1.04166666666667], [-187, 0.970873786407767], [-160, 1.11111111111111], [-132, 1.04166666666667], [-83, 1.12359550561798], [-27, 0.65359477124183], [-5, 0.526315789473684], [-4, 0.5], [0, 0.492610837438424], [2, 0.492610837438424], [4, 0.50761421319797], [6, 0.50251256281407], [8, 0.510204081632653], [10, 0.526315789473684], [13, 0.555555555555556], [15, 0.537634408602151], [16, 0.518134715025907], [18, 0.561797752808989], [21, 0.625], [24, 0.680272108843537], [27, 0.680272108843537], [29, 0.689655172413793], [31, 0.75187969924812], [34, 0.884955752212389], [36, 0.892857142857143], [38, 0.900900900900901], [45, 0.826446280991736], [59, 0.746268656716418], [62, 0.840336134453782], [64, 0.847457627118644]]}
            ]
        });
    }); 

section
  video(width='1280', height='650', controls='controls')
    source(src='../source/CT第14病日.mp4', type='video/mp4')
section  
  h2 入院後経過
  ul 
    li 第1病日より病歴聴取、感染症、各種画像検査を施行したが、明らかな原因は指摘できず。
    li 第5病日：安静臥床、補液にて様子を経過観察していたが、肝胆道系酵素の上昇のため、SMNC iv
    li 第14病日：以上の画像検査、血液検査から診断が確定できず、肝生検を実施した。
  // .element: class="fragment" data-fragment-index="1"
  p.fragment(data-fragment-index='2')
    em 除外済み
    br
    | A,B,C,E型肝炎、EBV, CMV, HIV
  p.fragment(data-fragment-index='3')
    em Unlikely
    br
    | 薬剤性, アルコール性(γ-GTP➡、ALT>AST), 脂肪肝、うっ血性
section
  h1 さて、診断は何でしょう？
section
  h2 入院後経過
  canvas.fragment(data-chart='line', data-fragment-index='1')
    //
      {
      "data": {
      "datasets": [
      {
      "data":[{"x":1, "y":1410}, {"x":3, "y":1478}, {"x":5, "y":1710}, {"x":6, "y":892}, {"x":8, "y":421}, {"x":11, "y":438}, {"x":14, "y":529}, {"x":15, "y":518}, {"x":17, "y":288}, {"x":19, "y":230}, {"x":21, "y":189}, {"x":24, "y":113}, {"x":28, "y":70}, {"x":31, "y":48}, {"x":35, "y":39}, {"x":38, "y":28}],"label":"AST(IU/l)","backgroundColor":"rgba(20,220,220,.8)","fill":false
      }, {
      "data":[{"x":1, "y":2060}, {"x":3, "y":1900}, {"x":5, "y":2090}, {"x":6, "y":1560}, {"x":8, "y":998}, {"x":11, "y":679}, {"x":14, "y":642}, {"x":15, "y":624}, {"x":17, "y":458}, {"x":19, "y":416}, {"x":21, "y":368}, {"x":24, "y":271}, {"x":28, "y":179}, {"x":31, "y":125}, {"x":35, "y":91}, {"x":38, "y":61}],"label":"ALT(IU/l)","backgroundColor":"rgba(220,120,120,.8)","fill":false
      }, {
      "data":[{"x":1, "y":280}, {"x":3, "y":224}, {"x":5, "y":214}, {"x":6, "y":206}, {"x":8, "y":195}, {"x":11, "y":191}, {"x":14, "y":198}, {"x":15, "y":207}, {"x":17, "y":243}, {"x":19, "y":359}, {"x":21, "y":426}, {"x":24, "y":416}, {"x":28, "y":311}, {"x":31, "y":253}, {"x":35, "y":224}, {"x":38, "y":171}],"label":"γ-GDP(IU/l)","backgroundColor":"rgba(20,120,220,.8)","fill":false
      }, {
      "data":[{"x":1, "y":517}, {"x":3, "y":351}, {"x":5, "y":332}, {"x":6, "y":324}, {"x":8, "y":384}, {"x":11, "y":402}, {"x":14, "y":418}, {"x":15, "y":384}, {"x":17, "y":355}, {"x":19, "y":346}, {"x":21, "y":362}, {"x":24, "y":360}, {"x":28, "y":299}, {"x":31, "y":289}, {"x":35, "y":307}, {"x":38, "y":254}],"backgroundColor":"rgba(120,220,20,.8)","borderColor":"rgba(120,220,20,.8)", "label":"ALP(IU/l)","fill":false
      },{
      "data":[{"x":1, "y":670}, {"x":3, "y":612}, {"x":5, "y":667}, {"x":6, "y":279}, {"x":8, "y":240}, {"x":11, "y":248}, {"x":14, "y":291}, {"x":15, "y":258}, {"x":17, "y":213}, {"x":19, "y":230}, {"x":21, "y":238}, {"x":24, "y":191}, {"x":28, "y":212}, {"x":31, "y":180}, {"x":35, "y":177}, {"x":38, "y":167}],"label":"LDH(IU/l)","backgroundColor":"rgba(220,20,120,.8)","borderColor":"rgba(220,20,120,.8)","fill":false
      }
      ]
      },
      "options": {
      "scales": {
      "xAxes": [{
      "type": "linear",
      "position": "bottom"
      }]
      }
      }
      }
  .balloon.fragment(data-fragment-index='1', style='top:102px;left:92px;')
    | 第5病日
    br
    |   SMNC iv
  .balloon.fragment(data-fragment-index='1', style='top:328px;left:295px;')
    | 第14病日
    br
    |   肝生検
  .balloon.fragment(data-fragment-index='2', style='top:207px;left:331px;')
    | 第15病日
    br
    |   PSL 30mg/日 開始
section
  h2 入院後経過
  canvas.fragment(data-chart='line', data-fragment-index='1')
    //
      {
      "data": {
      "datasets": [
      {
      "data":[{"x":1, "y":6.3}, {"x":3, "y":6.6}, {"x":5, "y":10}, {"x":6, "y":11.9}, {"x":8, "y":15}, {"x":11, "y":21.4}, {"x":14, "y":26.4}, {"x":15, "y":26.1}, {"x":17, "y":17.2}, {"x":19, "y":11.7}, {"x":21, "y":9.2}, {"x":24, "y":7.2}, {"x":28, "y":4.9}, {"x":31, "y":3.9}, {"x":35, "y":3.3}, {"x":38, "y":2.7}],"label":"総Bil(mg/dl)","backgroundColor":"rgba(20,220,120,.8)","fill":false
      }, {
      "data":[{"x":1, "y":5.1}, {"x":3, "y":5.5}, {"x":5, "y":8.2}, {"x":6, "y":9.7}, {"x":8, "y":12.2}, {"x":11, "y":17.1}, {"x":14, "y":20.6}, {"x":15, "y":20.7}, {"x":17, "y":14.3}, {"x":19, "y":9.4}, {"x":21, "y":7.3}, {"x":24, "y":5.6}, {"x":28, "y":4}, {"x":31, "y":3.2}, {"x":35, "y":2.7}, {"x":38, "y":2.1}],"label":"直接Bil(mg/dl)","backgroundColor":"rgba(20,120,220,.8)","fill":false
      }
      ]
      },
      "options": {
      "scales": {
      "xAxes": [{
      "type": "linear",
      "position": "bottom"
      }]
      }
      }
      }
  .balloon.fragment(data-fragment-index='2', style='top:93px;left:285px;')
    | PSL 30mg/日 開始
section
  h1 診断： 自己免疫性肝炎
section
  h2 入院後経過
  ul
    li PSL内服後はAST・ALTも徐々に改善。
    li HLAが帰着し、A*24:33-B*75:51-DRB1*04:05-09:01:02であった。
    li
      | 肝生検ではCentri-Lobular Necrosisであり、PSLに対する反応性も考慮し、
      strong 急性発症型自己免疫性肝炎
      | の診断となった。
    li 以降はAST・ALTの再燃もなく経過し、徐々にPSLをtapering、PSL 20 mg/日で第38病日に退院となった。
section
  h2 自己免疫性肝炎の臨床的特徴
  ul
    li 中年以降の女性に好発する原因不明の肝疾患
    li 発症様式には遺伝的素因、自己免疫機序が関与
    li 臨床的には①抗核抗体等の自己抗体、②血清IgG高値を伴う
    li ほとんどは潜在性に発症するが、急性肝障害の臨床像を呈するものもあり
  p
    | 1.潜行性に発症した後に、AST・ALTが急激に増悪するタイプ(病理は慢性肝炎像)
    br
    | 2.急性肝炎様の臨床像を呈し、病理も画像も急性肝炎様のタイプ
  ul
    li
      | 2の場合は
      strong 抗核抗体陰性であり、血清IgG高値でないこともあり、診断が難しい
    li
      | しかし、1,2も
      strong 副腎皮質ステロイド投与が著効することは共通である。
section
  h2 自己免疫性肝炎の一般的な病理所見
  ul
    li 組織学的には典型例では慢性肝炎象を呈する
    li
      strong 特徴的な組織像
      ul
        li 門脈域の線維性拡大
        li 同部への単核球浸潤
        li 浸潤細胞には形質細胞が多い 
        li interface hepatitisの所見あり
        li 肝細胞の多数の巣状壊死
        li 帯状、架橋形成性肝壊死
        li 肝細胞ロゼット形成
    li
      | 診断には上記の特徴に加えて肝炎ウイルス等、薬物性、アルコール性等の
      strong 既知の肝障害の原因を除外
      | することが重要である
section
  h2 自己免疫性肝炎診断の国際スコアリングシステム
  table.table.table-condensed.table-striped.table-elegant
    thead
      tr
        th 項目
        th 基準
        th 点数
        th 項目
        th 基準
        th 点数
    tbody
      tr
        td 性別
        td 女性
        td 2
        td 薬物投与歴
        td 陽性
        td -4
      tr
        td ALP/AST or ALP/ALT
        td
          strong < 1.5
        td
          strong 2
        td
        td
          strong 陰性
        td
          strong 1
      tr
        td
        td 1.5 - 3.0
        td 0
        td 平均アルコール摂取量
        td
          strong <25g/日
        td
          strong 2
      tr
        td
        td > 3.0
        td -2
        td
        td >60g/日
        td -2
      tr
        td グロブリン or IgG
        td > 2.0
        td 3
        td HLA
        td DR3 or DR4
        td 1
      tr
        td
        td 1.5 - 2.0
        td 2
        td 他の自己免疫疾患
        td 陽性
        td 2
      tr
        td
        td 1.0 - 1.5
        td 1
        td 他の自己抗体
        td 陽性
        td 2
      tr
        td
        td
          strong < 1.0
        td
          strong 0
        td 組織所見
        td
          strong Interface hepatitis
        td
          strong 3
      tr
        td ANA，SMA2，LKM-1抗体3
        td > 1：80
        td 3
        td
        td 形質細胞浸潤
        td 1
      tr
        td
        td 1：80
        td 2
        td
        td ロゼット形成
        td 1
      tr
        td
        td 1：40
        td 1
        td
        td 上記所見なし
        td -5
      tr
        td
        td
          strong < 1：40
        td
          strong 0
        td
        td 胆管病変
        td -3
      tr
        td AMA4
        td 陽性
        td -4
        td
        td 他の所見
        td -3
      tr
        td 肝炎ウイルスマーカー
        td 陽性
        td -3
        td 治療反応性
        td 著効
        td 2
      tr
        td
        td
          strong 陰性
        td
          strong 3
        td
        td 再発
        td 3
  p
    | 以上の得点合計による評価
    br
    em 治療前
    |  Definite: 16以上, Probable: 10-15  ➡ 
    strong 今回Probable(11点)
section
  h2 厚生労働省の診断指針
  p
    | ①. 
    strong 他の原因による肝障害が否定される
    br
    | ②. 抗核抗体陽性あるいは抗平滑筋抗体陽性
    br
    | ③. IgG高値（＞基準上限値1.1倍）
    br
    | ④. 
    strong 組織学的にinterface hepatitisや形質細胞浸潤がみられる
    br
    | ⑤. 
    strong 副腎皮質ステロイドが著効する
  p
    em 典型例
    br
    | 上記項目で1を満たし、2～5のうち3項目以上を認める。
    br
    em 非典型例
    br
    strong 上記項目で1を満たし、2～5の所見の1～2項目を認める。
  p
    | なお国際診断スコアが計算できる場合にはその値を参考とし、
    br
    strong 疑診以上は自己免疫性肝炎と診断
    | する。また
    strong 急性発症例では上記項目2,3を認めない場合もある。
section
  h2 急性発症型自己免疫性肝炎の考察
  ul
    li 発症直後の自己免疫性肝炎はCentri-Lobular Necrosisを初期像とする見解がある。  
    li
      | Centri-Lobular Necrosisを呈する急性発症例は、自己抗体が陰性、血清IgGが低い、診断指針・基準を満たさない、T/Aの極期にのみ自己抗体陽性となる例が報告されている。
    li 原因不明の肝障害を精査する際にはすみやかに原因検索を行い、自己免疫性肝炎の可能性を考慮し肝生検を行うことが診断の一助となる。  
    li
      strong
        | 診断的治療を兼ねてのステロイド投与は他の肝炎の原因が否定され、かつ肝生検を行った後に速やかに投与することが、肝炎の劇症化を未然に防ぎ、場合によっては自己免疫性肝炎の診断にもつながる。
section
  h1 ご清聴有難うございました
  
